.card {
    display: flex;
    /* border: dotted 5px rgb(73, 7, 7); */
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(77, 77, 77, 0.625), rgb(246, 80, 246));
    /* background: linear-gradient(to right, rgba(115, 115, 115, 0.625) 60%, rgba(233, 34, 34, 0.625) 70%, rgb(233, 34, 34) 100%); */
    border-radius: 10px;
    
} 

.card:hover {
    box-shadow: 0 0 0.5rem #fa7233, 0 0 0.5rem #fa7233, 0 0 2rem #fa7233;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color:  rgb(1, 1, 1);
}

.image {
    display: flex;
    border: solid 1px black;
    border-radius: 100%;
    width: 150px;  
    height: 150px;
    object-fit: cover;
    background-color: rgb(0, 0, 0);
}